@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


.navbar{

    background-color: rgb(3, 1, 19);
}

.adicionar{

    position: absolute;
    right: 30px;
    color: white;
    font-weight: bold;
    background-color: #4125CC;
    border: none;

}

.adicionar:hover{

    background-color: #65048C;
}

a{
    text-decoration: none;
}

.arquivoflixtittle{

    color: rgb(66, 66, 241) ;
    font-weight: bolder;
    font-size: 2em;
    font-family: 'Alata', sans-serif;

}