<!-- Footer -->
<footer class="bg-dark page-footer font-small special-color-dark pt-4">

    <div>
        <ul class="icons d-flex justify-content-center list-unstyled ">
            <li><a href="#" class="icoGithubAlt" title="GithubAlt">
                    <fa-icon [icon]="faGithubAlt" class="faGithubAlt fa-2x px-2"></fa-icon>
                </a>
            </li>
            <li><a href="#" class="icoLinkedin" title="Linkedin">
                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x px-2"></fa-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: buenoCas

    </div>

</footer>
<!-- Footer -->