<div class="container">

    <div class="d-flex justify-content-center pb-3 pt-3">


        <form class="w-50">
            <div class="d-flex justify-content-center">
                <img src="{{filmes.urlImg}}" alt="">
            </div>

            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" readonly [(ngModel)]='filmes.titulo'>
            </div>

            <div class="form-group">
                <label for="urlImg">Poster de Exibição:</label>
                <input type="text" class="form-control" id="urlImg" readonly name="urlImg" [(ngModel)]='filmes.urlImg'>
            </div>

            <div class="form-group">
                <label for="diretor">Diretor:</label>
                <input type="text" class="form-control" id="diretor" readonly name="diretor"
                    [(ngModel)]='filmes.diretor'>
            </div>

            <div class="form-group">
                <label for="ano">Ano:</label>
                <input type="text" class="form-control" id="ano" name="ano" maxlength="4"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" readonly
                    [(ngModel)]='filmes.ano'>
            </div>

            <div class="form-group">
                <label for="genero">Gênero</label>

                <input type="text" class="form-control" id="idCtg" name="idCtg" [(ngModel)]='filmes.categoria.nome'
                    readonly>

                <!-- <select name="idCtg" id="idCtg" class="form-control" [(ngModel)]='idCtg' (change)='findByCategoria()'>

                    <option *ngFor='let item of listaCategoria' value="{{item.id}}">
                        {{item.nome}}
                    </option> -->



            </div>

            <div class="form-group">
                <label for="sinopse">Sinopse</label>
                <textarea class="form-control" id="sinopse" name="sinopse" rows="3" readonly
                    [(ngModel)]='filmes.sinopse'></textarea>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btncancelar " routerLink="/home">Voltar</button>
                <button class="btn btncadastrar d-none">Salvar</button>

            </div>

        </form>


    </div>


</div>