<div class="container">

    <div class="d-flex justify-content-center mb-3 mt-3">

        <form class="w-50">
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Insira o título do filme"
                    [(ngModel)]='filmes.titulo'>
            </div>

            <div class="form-group">
                <label for="urlImg">Poster de Exibição:</label>
                <input type="text" class="form-control" id="urlImg" placeholder="Digite a URL da imagem" name="urlImg"
                    [(ngModel)]='filmes.urlImg'>
            </div>

            <div class="form-group">
                <label for="diretor">Diretor:</label>
                <input type="text" class="form-control" id="diretor" placeholder="Insira o diretor do filme"
                    name="diretor" [(ngModel)]='filmes.diretor'>
            </div>

            <div class="form-group">
                <label for="ano">Ano:</label>
                <input type="text" class="form-control" id="ano" placeholder="Insira o ano do filme" name="ano"
                    [(ngModel)]='filmes.ano'>
            </div>

            <div class="form-group">
                <label for="genero">Gênero</label>
                <select name="idCtg" id="idCtg" class="form-control" [(ngModel)]='idCtg' (change)='findByCategoria()'>

                    <option *ngFor='let item of listaCategoria' value="{{item.id}}">
                        {{item.nome}}
                    </option>


                </select>
            </div>

            <div class="form-group">
                <label for="sinopse">Sinopse</label>
                <textarea class="form-control" id="sinopse" name="sinopse" rows="3"
                    [(ngModel)]='filmes.sinopse'></textarea>>
            </div>

            <div class="d-flex justify-content-around">
                <button class="btn btn-danger" routerLink="/home">Cancelar</button>
                <button class="btn btn-success" (click)="verificar()">Cadastrar</button>

            </div>

        </form>


    </div>


</div>